@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* menu start */
.navbar{
    background-color: #FFFFFF !important;
}

.nav-link:hover{
    color: green !important;
}

.nav-link{
    margin-left: 15px;
}
.home{
    margin-left: 45px;
}

.navbar-brand{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.active{
    color: green !important;
}

.mbtn{
    margin-left: 600px;
}

.fa-user{
    margin-right: 10px;
}

/* menu end */

/* banner section start */

.banner{
    margin-bottom: 25px;
}

.banner img{
    width: 100%;
}

.banner h1{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: 46px;
    font-weight: bold;
    line-height: 64px;
    color: #000000;
}

.banner p{
    margin-left: 50px;
    line-height: 32px;
    font-size: 18px;
}

.btn-success{
    margin-left: 50px;
}

/* banner section end*/

/* section1 start */
.s1{
    margin-bottom: 100px;
}
.s1 h2{
    text-align: center;
    font-weight: bold;
    line-height: 64px;
    font-size: 36px;
    color: #000000;
}

.s1 h6{
    text-align: center;
    color: #324148;
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 30px;
}

.box1{
    box-shadow: 0 2px 12px 1px #648ae02e;
    height: 250px;
}

.box2{
    box-shadow: 0 2px 12px 1px #648ae02e;
    height: 250px;
    background-color: #66BB6A;
    
}

.box3{
    box-shadow: 0 2px 12px 1px #648ae02e;
    height: 250px;
}

.s1 img{
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.s1 h4{
    color: #263238;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 15px;
}

.s1 p{
    color: #263238;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
}

.icon{
    width: 80px !important;
    height: 200px !important;
}

/* section1 end*/

/* section2 start */
.s2{
    margin-bottom: 50px;
}
.s2 h2{
    font-weight: bold;
    line-height: 64px;
    font-size: 36px;
    color: #000000;
    margin-left: 130px;
}

.s2 h6{
    color: #324148;
    line-height: 32px;
    font-size: 18px;
    margin-left: 130px;
    margin-bottom: 30px;
}

.m1{
    background-image: url(../images/feature-1.png);
    background-repeat: no-repeat;
    background-size: cover;
   height: 350px;
   margin-left: 20px;
   
}

.m2{
    background-image: url(../images/feature-2.png);
    background-repeat: no-repeat;
    background-size: cover;
   height: 350px;
   margin-left: 25px;
   
}

.s2 h5{
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #66bb6a;
    margin-top: 40px;
    margin-left: 30px;
}
.s2 h5::after{
    content: "";
    background: #FFFFFF;
    display: block;
    height: 3px;
    width: 80px;
    margin-top: 10px;
}

.s2 h4{
    line-height: 40px;
    font-size: 31px;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 45px;
    font-weight: bold;
}

.s2 p{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;
}

.s2 a{
    text-align: center;
    color: #66bb6a;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 45px;
    text-decoration: none;
    margin-left: 45px;
}
/* section2 end*/

/* section 3 start */
.s3{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 60px;
    margin-bottom: 40px;
}

.s3 h2{
    font-weight: bold;
    line-height: 64px;
    font-size: 36px;
    color: #E8F5E9;
    text-align: center;
    
}
.s3 h6{
    color: #E8F5E9;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 45px;
}

.cr1{
    margin-left: 250px;
    border: solid;
    border-radius: 50%;
    padding: 30px;
    border-color: #FFFFFF;
    color: #FFFFFF;
   
}

.cr2{
    border: solid;
    border-radius: 50%;
    padding: 30px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-left: 150px;
}
.cr3{
    border: solid;
    border-radius: 50%;
    padding: 30px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-left: 150px;
}
.cr4{
    border: solid;
    border-radius: 50%;
    padding: 30px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-left: 150px;
    
}

.s3 h3{
    margin-left: 80px;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
    color: #ffffff;
}

.s3 p{
    margin-left: 40px;
    color: #E8F5E9;
    line-height: 24px;
    font-size: 16px;
}

.cr1:hover,.cr2:hover,.cr3:hover,.cr4:hover{
    background-color: #FFFFFF;
    color: green;
}



/* section 3 end */

/* section 4 start */
.s4{
    margin-bottom: 40px;
}

.box4{
    box-shadow: 0 0 14px 0 rgb(17 22 26 / 2%), 0 2px 14px 0 rgb(17 22 26 / 2%), 0 4px 14px 0 rgb(17 22 26 / 7%);
    height: 250px;
    padding: 60px;
}

.s4 h2{
    font-weight: bold;
    line-height: 64px;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    
}

.s4 a{
    background: #66bb6a;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 270px;
    margin-left: 420px;
    padding: 10px 25px;
    border-radius: 10px;
}

/* section 4 end */

/* section 5 start */
.s5{
    background-color: #F5F5F5;
    padding-top: 40px ;
    padding-bottom: 180px ;
    padding-left: 30px ;
    padding-right:30px ;
    
}

.s5 h6{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 40px;
    color: #000000;
    margin-left: 40px;
}

.s5 ul li{
    list-style: none;
    color: #607D8B;
    font-size: 16px;
    padding: 2px 10px;
    
    
}

.s5 ul{
    margin-right: 25px;
    
}

.s5 ul a {
    text-decoration: none;
}

#gr{
    background: #66bb6a;
    height: 180px;
    
   
}

#gr h4{
    line-height: 40px;
    font-size: 18px;
    color: #EFF7E7;
    margin-left: 25px;
}

#gr p{
    letter-spacing: -0.1px;
    color: #EDF6E5;
    line-height: 24px;
    font-size: 16px;
    margin-left: 25px;
}

.btn-light{
    margin-left: 25px;
}

/* section 5 end */

.s6{
    background-color: #F5F5F5;
    border-top-style: solid;
    border-width: .1px;
    padding: 40px;
}

.s6 span{
    margin-left: 600px;
}